.cart {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 2rem;
    width: 35%;
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin: 1rem;
}

.cart-item {
    display: flex;
    justify-content: space-between;
}